.figs{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  gap: 1.5rem;
}
@media screen and (max-width: 350px) {
  .figs img{
    width: 80px;
  }
  .figs{
    gap: 0;
  }
  .active{
    width: 90px;
  }
}

@media screen and (min-width: 900px) {
  .figs img{
    width: 110px;
  }
  .figs{
    gap: 3rem;
  }
  .active{
    width: 120px;
  }
}


.pick{
  transition: width 0.2s ease-in-out;
}

