@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
/* font-family: 'Special Elite', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
/* font-family: 'Odibee Sans', cursive; */


*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

p, h1, h2{
  margin: 0;
}